services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=kick'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432'
    
  app:
    build:
      context: contextPath
      dockerfile: Dockerfile
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/mydatabase
      SPRING_DATASOURCE_USERNAME: myuser
      SPRING_DATASOURCE_PASSWORD: kick
    ports: 
    - "8080:8080"
    depends_on:
      - postgres